<%= simple_form_for(@review) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    
    <%= f.collection_select(:proposal_id, Proposal.un_assigned, :id, :title, prompt: "Select a proposal")%>
	<%= f.collection_select(:user_id, User.supervisors, :id, :email, prompt: "Select a Supervisor")%>
    <%= f.input :comment %>
	 <%= f.input :status, collection: ["Approved","Rejected"], :required => true,prompt: "Select status" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
