<aside class="one fifth padded border-right">
  <h3>
    <i class="icon-reorder"></i>
    Navigation
  </h3>
  <nav class="nav">
    <ul>
      <li>
        <%= link_to "Home", root_path %>
      </li>
      <li>
        <% if can? :create, Project %>
            <%= link_to "New Project", new_project_path %>
        <% end %>
      </li>
      <li>
        <% if can? :manage, Project %>
            <%= link_to "Projects", projects_path %>
        <% end %>
      </li>
      <li>
        <% if can? :manage, User %>
            <%= link_to "Users", users_path %>
        <% end %>
      </li>

      <li>
        <% if can? :manage, Proposal %>
            <%= link_to "Proposals", proposals_path %>
        <% end %>
      </li>

    </ul>
  </nav>


</aside>